@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
	font-family: 'Roboto', sans-serif; font-size: 16px; color: #666666; margin:0; background-color: #E5E5E5;
}

.top-bar{
	width: 100%; height: 50px; background-color: #056CB6; color:white; line-height: 50px;
}

.top-bar a{
	color: white;
}

.top-bar a:hover{ color:#FF113}

.navbar .navbar-nav .nav-item .nav-link{padding: 8px 20px}

.navbar .navbar-nav .nav-item .nav-link:hover{color: #056CB6; background-color: #FFC113}

.navbar .navbar-nav .nav-item .dropdown-menu{background-color: #056CB6; padding-bottom:0; padding-top:0; bordeborder-radius: 0}

.navbar .navbar-nav .nav-item .dropdown-menu li{border-bottom: 1px solid white }

.navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-item{color: white; transnition: all 1s}

.navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-item:hover{background-color:#FFC113; padding-left: 25px;}

main{width: 100%;min-height: 500px;}

.btn-secondary{background-color: #FFC113; color: white}
.btn-secondary:hover{background-color: #FFC113; color:#056CB6}
.gach-chan{border-bottom: 2px solid #FFC113!important}
footer .navbar .nav-item .nav-link{}
footer .navbar .nav-item .nav-link:hover{}

#slider .owl-nav { position:absolute; left:0px; top:40%; width:100%; }
#slider .owl-nav [class*='owl-'] {
	font-size:100px; /*background:rgba(255,255,255,.5);border:1px solid #056CB6; */ color: #fff
}

#slider .owl-nav .owl-next{ position:absolute; right:5%;}
#slider .owl-nav .owl-prev{ position:absolute; left:5%;}
#slider .owl-nav [class*='owl-']:hover {
      background:none;border: none;
      color:#FFC113;
      text-decoration: none; }


#slider .owl-dots{ position:absolute; bottom: 10px; left:45%;}
#slider .owl-dots .owl-dot span {
      width: 8px;
      height: 8px; 	
}

#slider .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background:white;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 25px; }
 #slider .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #FFC113; }



.btn-primary{background-color: #056CB6; color: white}
.btn-primary:hover{background-color: #FFC113; color:#056CB6}

#service a{
	text-decoration: none; color: #515151;
}

#service a:hover{color:#FFC113}

#why{width: 100%; min-height: 400px; background: url("../images/why.jpg"); background-repeat:no-repeat; background-size: cover; background-position: center top}

#client .hinh{position: relative; }

#client .truoc{position: absolute; left: 0; top:0; padding:6px; background-color: white; color:#4F4F4F}

#client .sau{position: absolute; left: 50%; top:0; padding:6px; background-color: white; color:#4F4F4F}


#pageheader{width: 100%; min-height: 350px; background:url("../images/pageheader.png"); background-repeat:no-repeat; background-size: cover; background-position: center top}


#search{width: 100%; min-height: 60px; background-color: #F8FAF5}

#camnhan .noidung img{width: 80px; height: 80px; padding: 3px}

#camnhan .noidung{padding: 0;display: flex; flex-direction: column; justify-content: center; align-items: center}

#camnhan .vien{border: 2px solid #FFC113}

